@model Libreria.Models.usuarios

@{
    ViewBag.Title = "Registrarse";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Registrarse</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="body"></div>
            <div class="grad"></div>
            <div class="header">
                <div>Mundo<span>Creativo</span></div>
            </div>
            <br>
            <div class="login">
                @using (Html.BeginForm("Registrarse", "Login", FormMethod.Post))
                {
                    var parameter = Request.QueryString["ac"];
                    if (parameter == "emailExiste")
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Error: el email ya se encuentra registrado
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    else if (parameter == "nuevo")
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Su cuenta fue creada. Puede iniciar sesión <a href="@Url.Action("Ingresar", "Login")">aqui</a>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <br />
                    <div class="form-group">
                        <label for="nombre">Nombre<span style="color: red"> *</span></label>
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required", type = "text" } })
                        @Html.ValidationMessageFor(model => model.nombre, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="apellido">Apellido<span style="color: red"> *</span></label>
                        @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", required = "required", type = "text" } })
                        @Html.ValidationMessageFor(model => model.apellido, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="email">Email<span style="color: red"> *</span></label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "text" } })
                        @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="clave">Clave<span style="color: red"> *</span></label>
                        @Html.PasswordFor(model => model.clave, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(model => model.clave, null, new { @class = "text-danger"})
                    </div>
                    <br />

                    <div class="form-group">
                        <input class="btn btn-success btn-sm" style="color: white;" type="submit" value="Crear">
                        <button class="btn btn-info btn-sm" style="color: white;" onclick="location.href='@Url.Action("Ingresar", "Login")';return false;">Volver</button><br/><br />
                        <span style="font-size: 14px;"><span style="color: red"> *</span> Campo obligatorio</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
</body>
</html>
